<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper	namespace="com.one.style.wokrOpen.mapper.WorkOpenMapper">

	<select id="getWorkOpenTime" parameterType="com.one.style.wokrOpen.vo.WorkOpenVO" resultType="string">
		select ${week}
		from work_open
		where id = (
					select id
					from des_course
					where cour_no = #{courNo} 
					)
	</select>
	<select id="getReservationTime" parameterType="com.one.style.wokrOpen.vo.WorkOpenVO" resultType="string">
		select time
		from consulting_history
		where day = to_date(#{searchDate},'YY/MM/DD')
		and cour_no = #{courNo}
	</select>
	<select id="getWorkCloseTime" parameterType="com.one.style.wokrOpen.vo.WorkOpenVO" resultType="string">
		select close_time
		from work_close
		where close_day = to_date(#{searchDate},'YY/MM/DD')
		and id = (
		          select id
		          from des_course
		          where cour_no = #{courNo}
		          )
	</select>

	<select id="getFileUuidTest" parameterType="com.one.style.files.vo.FilesVO" resultType="com.one.style.files.vo.FilesVO">
		select file_uuid from files
		where des_id = #{des_id}
	</select>
	
	<select id="dateTest" resultType="String">
			SELECT to_char(day-3,'YYYY/MM/DD')||' '||time AS paycancle
			FROM CONSULTING_HISTORY
			WHERE con_no = '2108090081'
	</select>
	

	
	

</mapper>