<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.one.style.memdetail.mapper.MemdetailMapper">
	<!-- 핸드폰번호 변경 -->
	<update id="hpchange" parameterType="com.one.style.mem.vo.MemberVO">
		UPDATE MEMBER SET HP = #{hp} WHERE ID = #{id}
	</update>
	
</mapper>