<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.one.style.memdetail.mapper.MemdetailMapper">
	<!-- 핸드폰번호 변경 -->
	<update id="hpchange"
		parameterType="com.one.style.mem.vo.MemberVO">
		UPDATE MEMBER SET HP = #{hp} WHERE ID = #{id}
	</update>
	<!-- 비밀번호 변경 -->
	<update id="pwchange"
		parameterType="com.one.style.mem.vo.MemberVO">
		UPDATE MEMBER SET PW = #{pw} WHERE ID = #{id}
	</update>
	<!-- 모든상담내역 -->
	<select id="conallList" parameterType="com.one.style.conhistory.vo.ConHistoryVO" resultType="com.one.style.conhistory.vo.ConHistoryVO">
	  select e.*, nvl(file_uuid, '0.png') as file_uuid from
      (SELECT

		a.day, to_char(day,'YY/MM/DD')||' '||time as lastst_date,
		a.time,a.state,a.price,
		a.reservate_date,a.cour_no,a.mem_attend,a.des_attend,
		a.con_no,

		b.code,b.CODECONTENT,

		c.title,c.detail,

		d.name AS desName,d.career,d.major,d.id

		FROM
		CONSULTING_HISTORY a, COMMCODEDETAIL b ,
		DES_COURSE c, DESIGNER d

		WHERE a.state = b.code
		AND c.cour_no =
		a.cour_no
		
		AND d.id = c.id
		AND MEM_ID = #{memId}

		ORDER BY LASTST_DATE desc) e
       left join 
     (select file_uuid , des_id
     from files
     where file_state = 'pro') f
   on id = f.des_id
	</select>
	<!-- 가장가까운예약목록 출력 -->
	<select id="conhisList"
		parameterType="com.one.style.conhistory.vo.ConHistoryVO"
		resultType="com.one.style.conhistory.vo.ConHistoryVO">
		 <![CDATA[
		   select e.*, nvl(file_uuid, '0.png') as file_uuid from   
  (SELECT

		a.day, to_char(day,'YY/MM/DD')||' '||time as lastst_date,
		a.time,a.state,a.price,
		a.reservate_date,a.cour_no,a.mem_attend,a.des_attend,
		a.con_no,

		b.code,b.CODECONTENT,

		c.title,c.detail,

		d.name AS desName,d.career,d.major,d.id

		FROM
		CONSULTING_HISTORY a, COMMCODEDETAIL b ,
		DES_COURSE c, DESIGNER d

		WHERE a.state = b.code
		AND to_char(day,'YY/MM/DD')||' '||time >
		to_char(sysdate-1/24/60*30,'YY/MM/DD hh24:mi')
		AND c.cour_no =
		a.cour_no
		AND (a.state = 'ccode002' 
    or a.state ='ccode001' 
    or a.state ='ccode004')
		AND d.id = c.id
		AND MEM_ID = #{memId}

		ORDER BY LASTST_DATE asc) e
    
      left join 
     (select file_uuid , des_id
     from files
     where file_state = 'pro') f
   on id = f.des_id
			 ]]>
	</select>
	<select id="conhisListend"
		parameterType="com.one.style.conhistory.vo.ConHistoryVO"
		resultType="com.one.style.conhistory.vo.ConHistoryVO">
		 <![CDATA[
   select e.*, nvl(file_uuid, '0.png') as file_uuid
from(
       SELECT
       a.day, to_char(day,'YY/MM/DD')||' '||time as lastst_date,
       a.time,a.state,a.price,a.reservate_date,a.cour_no,a.mem_attend,a.des_attend,a.con_no,
       b.code,b.CODECONTENT,
       c.title,c.detail,
       d.name AS desName,d.career,d.major,d.id,
       r.reviewexist,
       nvl2(cr.con_no,1,0) as canreview, canmodify
       FROM CONSULTING_HISTORY a,
                COMMCODEDETAIL b,
                DES_COURSE c,
                DESIGNER d, 
                (
                select c.con_no , c.mem_id, nvl2(r.title,1,0) as reviewexist, nvl(decode(r.state, 'Y', 1, 'N', 0), 0) as canmodify 
                from consulting_history c
                join commcodedetail cc
                on c.state = cc.code
                left join review r
                on c.con_no = r.con_no
                where c.mem_id = #{memId}
                ) r,
                (
                select to_char(day,'YYYY/MM/DD')||' '||time as lastst_date , con_no
                from CONSULTING_HISTORY
                where to_char(day,'YYYY/MM/DD')||' '||time > to_char(sysdate - 3 ,'YYYY/MM/DD HH24:mi:ss')
                )cr
      WHERE a.state = b.code
      AND to_char(day,'YY/MM/DD')||' '||time < to_char(sysdate,'YY/MM/DD hh24:mi')
      AND c.cour_no = a.cour_no
      AND d.id = c.id
      AND r.con_no = a.con_no
      and a.con_no = cr.con_no(+)
      AND a.MEM_ID = #{memId}
      ORDER BY LASTST_DATE desc
      ) e
      left join (
                  select file_uuid , des_id
                  from files
                  where file_state = 'pro'
                  ) f
      on e.id = f.des_id
      ORDER BY LASTST_DATE desc
  		 ]]>
	</select>
	<!-- 상담완료 목록'만'출력 -->
	<select id="conccode005" parameterType="com.one.style.conhistory.vo.ConHistoryVO" resultType="com.one.style.conhistory.vo.ConHistoryVO">
	    		 <![CDATA[
	    	SELECT 
a.day, to_char(day,'YYYY/MM/DD')||' '||time as lastst_date,
a.time,
a.state,
a.price,
a.reservate_date,
a.cour_no,
a.mem_attend,
a.des_attend,
a.con_no,
b.code,
b.CODECONTENT,
c.title,
c.detail,
d.name AS desName,
d.career,
d.major,
d.id,
r.reviewexist,
nvl2(cr.con_no,1,0) as canreview
FROM CONSULTING_HISTORY a,
         COMMCODEDETAIL b , 
         DES_COURSE c,
         DESIGNER d,
         (select c.con_no , c.mem_id, nvl2(r.title,1,0) as reviewexist
          from consulting_history c
          join commcodedetail cc
          on c.state = cc.code
          left join review r
          on c.con_no = r.con_no
          where c.mem_id = #{memId}
          ) r ,
          (
          select to_char(day,'YYYY/MM/DD')||' '||time as lastst_date , con_no
          from CONSULTING_HISTORY
          where to_char(day,'YYYY/MM/DD')||' '||time > to_char(sysdate - 3 ,'YYYY/MM/DD') 
          ) cr
WHERE a.state = b.code
AND c.cour_no = a.cour_no
AND d.id = c.id
AND r.con_no = a.con_no
and a.con_no = cr.con_no(+)
AND a.MEM_ID = #{memId}
AND a.state = 'ccode005'
ORDER BY LASTST_DATE desc
]]>
</select>
	<!-- 회원탈퇴 -->
	<delete id="memexit"
		parameterType="com.one.style.mem.vo.MemberVO">
		DELETE FROM MEMBER WHERE ID = #{id}
	</delete>


	<!-- 예약 취소 가능 날짜 조회 쿼리 -->
	<select id="getCancleDate" resultType="String"
		parameterType="com.one.style.conhistory.vo.ConHistoryVO">
		SELECT to_char(day-3,'YYYY/MM/DD')||' '||time AS
		cancleDate
		FROM CONSULTING_HISTORY WHERE con_no = #{conNo}
	</select>
	<!-- 예약취소 -->
	<update id="reservationcancle"
		parameterType="com.one.style.conhistory.vo.ConHistoryVO">
		update consulting_history set state = 'ccode003' where
		con_no = #{conNo}
	</update>
	<!-- 리뷰 유뮤확인 -->
	<select id="reviewyoumu"
		parameterType="com.one.style.review.vo.ReviewVO"
		resultType="com.one.style.review.vo.ReviewVO">
		SELECT * FROM REVIEW where con_no = #{conNo} and mem_id = #{memId}
	</select>

   <update id="memDetailUpdate" parameterType="com.one.style.mem.vo.MemDetailVO">
		update mem_detail set makeup_Yn = #{makeupYn}, cut_Yn = #{cutYn}, perm_yn = #{permYn}, dye_yn = #{dyeYn} where id = #{id}
   </update>
   
   <select id="preferExist" parameterType="String" resultType="com.one.style.mem.vo.MemDetailVO">
		select count(*) as count from mem_detail where id = #{id}
   </select>

</mapper>