<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.one.style.des.mapper.DesMapper">
	<!-- 아이디 비밀번호체크 -->
	<select id="designerloginCheck" parameterType="com.one.style.des.vo.DesVO" resultType="com.one.style.des.vo.DesVO">
		SELECT * FROM DESIGNER WHERE ID = #{id} AND PW = #{pw}
	</select>
	<!-- 로그인 -->
	<select id="designerlogin" parameterType="com.one.style.des.vo.DesVO" resultType="com.one.style.des.vo.DesVO">
		SELECT * FROM DESIGNER WHERE ID = #{id} AND PW = #{pw}
	</select>
	<!-- 회원가입 아이디 중복체크 -->
	<select id="designerinsertcheck" parameterType="com.one.style.des.vo.DesVO" resultType="com.one.style.des.vo.DesVO">
		SELECT * FROM DESIGNER WHERE ID = #{id}
	</select>
	<insert id="designerInsert"><!-- #{cergroupno} -->
		INSERT INTO DESIGNER VALUES
		(#{id},#{pw},#{name},#{hp},#{location},#{gender},#{birth},0,'dcode001',#{career},sysdate,#{cergroupno},#{majorgender},#{makeupyn},#{cutyn},#{permyn},#{dyeyn},#{major},#{imggroupno},#{comments})
	</insert>
	
	
	<!-- 디자이너 선택 -->
	<select id="selectDes" parameterType="com.one.style.des.vo.DesVO" resultType="com.one.style.des.vo.DesVO">
		SELECT * 
		FROM DESIGNER
		WHERE ID = #{id}
	</select>
	<!-- 디자이너 선택 - 프로필사진 -->
	<select id="selectDesPro" parameterType="com.one.style.des.vo.DesVO" resultType="com.one.style.des.vo.DesVO">
		SELECT D.NAME, D.ID, D.GENDER,D.HP, D.BIRTH, D.PW, D.LOCATION, F.FILE_NO, F.FILE_STATE, F.FILE_UUID
		FROM DESIGNER D , FILES F
		WHERE D.ID=F.DES_ID AND F.FILE_STATE= 'pro'
		 	AND D.ID= #{id}
	</select>
	<!-- 기존비밀번호 확인 -->
	<select id="pwCheck" parameterType="com.one.style.des.vo.DesVO" resultType="com.one.style.des.vo.DesVO">
	SELECT PW 
	FROM DESIGNER 
	WHERE ID = #{id} 
	</select>

	<!-- 디자이너 수정 -->
	<update id="desUpdate" parameterType="com.one.style.des.vo.DesVO">
	update designer 
	set hp= #{hp}, location= #{location}, pw= #{pw}, gender= #{gender}
	where id= #{id}
	</update>
	
	<!-- 디자이너 수정 -->
	<update id="desProUpdate" parameterType="com.one.style.des.vo.DesVO">
	update files
	set file_state = 'del'
	where file_uuid= #{fileUuid}
	</update>
	
</mapper>