<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.one.style.des.mapper.DesMapper">
	<!-- 아이디 비밀번호체크 -->
	<select id="dloginCheck" parameterType="com.one.style.des.vo.DesVO" resultType="com.one.style.des.vo.DesVO">
		SELECT * FROM DESIGNER WHERE ID = #{id} AND PW = #{pw}
	</select>
	<!-- 로그인 -->
	<select id="dlogin" parameterType="com.one.style.des.vo.DesVO" resultType="com.one.style.des.vo.DesVO">
		SELECT * FROM DESIGNER WHERE ID = #{id} AND PW = #{pw}
	</select>
	
	
	<!-- 디자이너 선택 -->
	<select id="selectDes" parameterType="com.one.style.des.vo.DesVO" resultType="com.one.style.des.vo.DesVO">
		SELECT * 
		FROM DESIGNER 
		WHERE ID = #{id}
	</select>
	<!-- 기존비밀번호 확인 -->
	<select id="pwCheck" parameterType="com.one.style.des.vo.DesVO" resultType="com.one.style.des.vo.DesVO">
	SELECT PW 
	FROM DESIGNER 
	WHERE ID = #{id} 
	</select>

	<!-- 디자이너 수정 -->
	<update id="desUpdate" parameterType="com.one.style.des.vo.DesVO">
	update designer 
	set hp= #{hp}, location= #{location}, pw= #{pw}, gender= #{gender}
	where id= #{id}
	</update>
</mapper>