<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.one.style.descourse.service.descourse-mapper">
	
	<!-- 전체디자이너 리스트 -->
	<select id="dessearchSelectList" resultType="com.one.style.dessearch.vo.DessearchVO">
	SELECT * FROM DESIGNER D FULL OUTER JOIN REVIEW R ON(D.ID =R.ID)
	</select>

	<!-- 컷디자이너 리스트 -->
	<select id="cutList" resultType="com.one.style.dessearch.vo.DessearchVO">
	SELECT DISTINCT * FROM DESIGNER 
	WHERE CUT_YN='Y'
	</select>
	
	<!-- 펌디자이너 리스트 -->
	<select id="permList" resultType="com.one.style.dessearch.vo.DessearchVO">
	SELECT * FROM DESIGNER 
	WHERE PERM_YN='Y'
	</select>
	
	<!-- 염색디자이너 리스트 -->
	<select id="dyeList" resultType="com.one.style.dessearch.vo.DessearchVO">
	SELECT * FROM DESIGNER 
	WHERE DYE_YN='Y'
	</select>
	
	<!-- 메이크업디자이너 리스트 -->
	<select id="makeupList" resultType="com.one.style.dessearch.vo.DessearchVO">
	SELECT * FROM DESIGNER 
	WHERE MAKEUP_YN='Y'
	</select>
	
	<!-- 디자이너 한건 -->
	<select id="dessearchSelect" parameterType="String" resultType="com.one.style.dessearch.vo.DessearchVO">
	SELECT * FROM DESIGNER D LEFT OUTER JOIN REVIEW R ON(D.ID = R.ID) 
	WHERE D.ID = #{ID}
	</select>
	
	<!-- 별점 평균 -->
	<select id="rateAvg">
	SELECT ROUND(AVG(RATE),1) FROM REVIEW WHERE NAME= #{NAME}
	</select>
	
</mapper>