<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.one.style.desmypage.mapper.DesMypageMapper">
	<!-- 디자이너 선택 - 프로필사진파일 -->
	<select id="selectDesPro" parameterType="com.one.style.des.vo.DesVO" resultType="com.one.style.des.vo.DesVO">
		SELECT   F.FILE_UUID
		FROM FILES F
		WHERE  F.FILE_STATE= 'pro'
		 	AND des_ID= #{id}
	</select>
	<!-- 디자이너 선택 - 증명서파일 -->
	<select id="selectDesCer" parameterType="com.one.style.des.vo.DesVO" resultType="com.one.style.des.vo.DesVO">
		SELECT   F.FILE_UUID, F.FILE_NAME
		FROM FILES F
		WHERE  F.FILE_STATE= 'cer'
		 	AND des_ID= #{id}
	</select>
	<!-- 디자이너 선택 - 증명서파일 -->
	<select id="selectDesThum" parameterType="com.one.style.des.vo.DesVO" resultType="com.one.style.des.vo.DesVO">
		SELECT FILE_UUID, FILE_NAME, COUR_NO
		FROM FILES 
		WHERE  FILE_STATE= 'thum'
		AND des_ID= #{id} ORDER BY COUR_NO
	</select>
	<!-- 디자이너 수정 -->
	<update id="desUpdate" parameterType="com.one.style.des.vo.DesVO">
	UPDATE DESIGNER 
	SET HP= #{hp}, LOCATION= #{location}, PW= #{pw}, MAJOR= #{major},
	 	MAJOR_GENDER=#{majorgender},CAREER=#{career},MAKEUP_YN=#{makeupyn},PERM_YN=#{permyn},CUT_YN=#{cutyn},DYE_YN=#{dyeyn}
	WHERE ID= #{id}
	</update>
	
	<!-- 디자이너 파일수정 -->
	<update id="desFileUpdate" parameterType="com.one.style.des.vo.DesVO">
	UPDATE FILES
	SET FILE_STATE = 'del'
	WHERE FILE_UUID= #{fileUuid}
	</update>

	<!-- 디자이너 major 수정 -->
	<update id="desmajorUpdate" parameterType="com.one.style.des.vo.DesVO">
	UPDATE DESIGNER 
	SET MAJOR= #{major}
	WHERE ID= #{id,jdbcType=VARCHAR}
	</update>
	
	<!-- 상담등록 -->
	<insert id="desCourseInsert">
	INSERT INTO DES_COURSE 
	VALUES(COUR_NO_SEQ.NEXTVAL, #{id}, #{title}, #{detail}, #{price})
	</insert>
	
	<!-- 상담수정 -->
	<update id="desCourseUpdate">
	UPDATE DES_COURSE SET title=#{title},detail=#{detail},price=#{price}
	WHERE cour_no=#{courNo}
	</update>
	
	<!-- 상담한건선택 -->
	<select id="desCourseSelect" parameterType="com.one.style.des.vo.DesVO" resultType="com.one.style.des.vo.DesVO">
	SELECT DC.COUR_NO, DC.TITLE, DC.DETAIL, DC.PRICE, DC.ID, f.file_uuid, f.cour_no
	FROM DES_COURSE DC
	join files f
	ON dc.COUR_NO = f.COUR_NO
	WHERE dc.cour_no = #{courNo}
	and f.file_state='thum'
	</select>
	
	<!-- 상담리스트 -->
	<select id="desCourseList" parameterType="com.one.style.des.vo.DesVO" resultType="com.one.style.des.vo.DesVO">
	SELECT DC.COUR_NO, DC.TITLE, DC.DETAIL, DC.PRICE, DC.ID, f.file_uuid, f.cour_no
	FROM DES_COURSE DC
	join files f
	ON dc.COUR_NO = f.COUR_NO
	WHERE dc.id = #{id}
	and f.file_state='thum'
	order by f.cour_no
	</select>
	
	<!-- 현재상담 -->
	<select id="desCourSeq" resultType="com.one.style.des.vo.DesVO">
	 select COUR_NO_SEQ.currval as cour_no from dual
	</select>
	
	<!-- 상담내역 -->
	<select id="desScheList" parameterType="com.one.style.conhistory.vo.ConHistoryVO" resultType="com.one.style.conhistory.vo.ConHistoryVO" >
	  SELECT 
    a.day, to_char(day,'YY/MM/DD')||' '||time as lastst_date, a.time,a.state,a.price,
		a.reservate_date,a.cour_no,a.mem_attend,a.des_attend,
		a.con_no,a.mem_comment, a.mem_id,
		b.code,b.CODECONTENT,
		c.title,c.detail,
		d.name AS desName,d.career,d.major,d.id as des_id,
		e.name as memName,e.id as mem_id
	FROM 
		CONSULTING_HISTORY a, COMMCODEDETAIL b , 
		DES_COURSE c, DESIGNER d, member e
	WHERE a.state = b.code
	AND c.cour_no = a.cour_no
	AND d.id = c.id
	and a.mem_id = e.id
	AND d.id = #{desId}
	</select>
	

	<select id="desWorkOpenPage" parameterType="String" resultType="com.one.style.desmypage.vo.DesMypageVO">
		select * from work_open where id = #{id}
	</select>
	<update id="desWorkOpenUpdate" parameterType="com.one.style.desmypage.vo.DesMypageVO">
		update work_open set
		<if test='mon != null'>
		mon = #{mon}
		</if>
		<if test='tue != null'>
		tue = #{tue}
		</if>
		<if test='wed != null'>
		wed = #{wed}
		</if>
		<if test='thu != null'>
		thu = #{thu}
		</if>
		<if test='fri != null'>
		fri = #{fri}
		</if>
		<if test='sat != null'>
		sat = #{sat}
		</if>
		<if test='sun != null'>
		sun = #{sun}
		</if>
		where id = #{id}
	</update>

	<!-- 상담상태변경  -->
	<update id="desApprove">
	update consulting_history set state =#{state} where con_no=#{conNo}
	</update>

</mapper>