<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.one.style.admin.mapper.AdminMapper">

	 
	 <!-- 관리자 일반 회원관리 페이지: 멤버 리스트를 반환. 1 페이지당 10건으로 페이징 처리함-->
	<select id="memberListSelect"
		parameterType="com.one.style.mem.vo.MemberVO"
		resultType="com.one.style.mem.vo.MemberVO">
		
		select b.* 
			from( 
                select rownum rn, a.* 
                  from(
                    select id, <!-- 아이디 -->
                           pw, <!-- 비밀번호-->
                          name, <!-- 이름 -->
                          gender, <!-- 성별 -->
                          to_char(birth, 'YYYY-mm-dd') as birth, <!-- 형식 변경한 생년월일(ex)2021-01-01) -->
                          REGEXP_REPLACE(hp, '(.{3})(.+)(.{4})', '\1-\2-\3') as hp, <!-- 형식 변경한 휴대폰 번호(ex)010-1111-1111) --> 
                          point, <!-- 적립금 -->
                          regday <!-- 가입일, view에서 형식 변경-->
						from member
  					)a ) b 
  			where b.rn between #{firstCnt} and #{lastCnt} <!-- 페이징 정보 -->
		
	</select>
	
	<!-- 관리자 일반 회원관리 페이지: 페이징 처리를 위한 멤버 테이블의 총 행수 반환-->
	<select id="memberListTotalCountSelect" 
			parameterType="com.one.style.mem.vo.MemberVO"
			resultType="Integer">
			
			select count(*) from member 
	
	</select>
	
	<!-- 관리자 디자이너 회원관리 페이지: 디자이너 리스트를 반환. 1 페이지당 10건으로 페이징 처리함-->
	<select id="designerListSelect"
		parameterType="com.one.style.des.vo.DesVO"
		resultType="com.one.style.des.vo.DesVO">
		
		select b.* 
  			from( 
       			select rownum rn, a.* 
        			from(
          				select id,
                  		pw,
                  		name,
                  		gender,
                  		to_char(birth, 'YYYY-MM-DD') as birth,
                  		REGEXP_REPLACE(hp, '(.{3})(.+)(.{4})', '\1-\2-\3') as hp,
                  		location, <!-- 근무처 -->
                  		career,
                  		major_gender,
                  		makeup_yn,
                  		cut_yn,
                  		perm_yn,
                  		dye_yn,
                  		major,
                  		point,
                  		codecontent as state, <!-- 회원 상태(ex)신청, 반려, 승인 등) -->
                  		to_char(regday,'YYYY-MM-DD') as regday,
                  		comments
            		from designer, commcodedetail
            		where designer.state = commcodedetail.code
            		)a ) b
      		where b.rn between #{firstCnt} and #{lastCnt};
		
	</select>
	
	<!-- 관리자 디자이너 관리 페이지: 페이징 처리를 위한 멤버 테이블의 총 행수 반환-->
	<select id="designerListTotalCountSelect" 
			parameterType="com.one.style.des.vo.DesVO"
			resultType="Integer">
			
			select count(*) from designer
	
	</select>
	
	
	
	<!--
	<select id="memberOneSelect"
		parameterType="com.one.style.mem.vo.MemberVO"
		resultType="com.one.style.mem.vo.MemberVO">
		
		select * from member where id= #{id}
		
	</select>
	-->
	
	



</mapper>