<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.one.style.descourse.mapper.DessearchMapper">
	
	<!-- 전체디자이너 리스트 -->
	<select id="dessearchSelectList" resultType="com.one.style.dessearch.vo.DessearchVO">
	
	</select>
	<!-- 페이징/카운트 -->
	<select id="permCnt" resultType="int">
		select count(*) from designer where PERM_YN='Y'
	</select>
	<!-- 페이징 -->
	<select id="desPaging" resultType="com.one.style.dessearch.vo.DessearchVO">
		select * from(
	select d.id, d.name, d.major, nvl2(r.rate,r.rate,0)as rate, rownum as rnum
	from DESIGNER d
	left join (
      select des_id ,  TRUNC(AVG(RATE),1) AS RATE
      from review
      where des_id in (
                       select id
                       from DESIGNER d
                       where perm_yn = 'Y'
                       )
      group by des_id) r
      on d.id = r.des_id
	where perm_yn ='Y')
  	where rnum between 1 and 6
	</select>
	
	<!-- 컷디자이너 리스트 -->
	<select id="cutList" resultType="com.one.style.dessearch.vo.DessearchVO">
	select d.id, d.name, d.major, nvl2(r.rate,r.rate,0)as rate
	from DESIGNER d
	left join (
      select des_id ,  TRUNC(AVG(RATE),1) AS RATE
      from review
      where des_id in (
                       select id
                       from DESIGNER d
                       where cut_yn = 'Y'
                       )
      group by des_id) r
      on d.id = r.des_id
	where cut_yn ='Y'
	</select>
	
	<!-- 펌디자이너 리스트 -->
	<select id="permList" resultType="com.one.style.dessearch.vo.DessearchVO">
	select d.id, d.name, d.major, nvl2(r.rate,r.rate,0)as rate
	from DESIGNER d
	left join (
      select des_id ,  TRUNC(AVG(RATE),1) AS RATE
      from review
      where des_id in (
                       select id
                       from DESIGNER d
                       where perm_yn = 'Y'
                       )
      group by des_id) r
      on d.id = r.des_id
	where perm_yn ='Y'
	</select>
	
	<!-- 염색디자이너 리스트 -->
	<select id="dyeList" resultType="com.one.style.dessearch.vo.DessearchVO">
	select d.id, d.name, d.major, nvl2(r.rate,r.rate,0)as rate
	from DESIGNER d
	left join (
      select des_id ,  TRUNC(AVG(RATE),1) AS RATE
      from review
      where des_id in (
                       select id
                       from DESIGNER d
                       where dye_yn = 'Y'
                       )
      group by des_id) r
      on d.id = r.des_id
	where dye_yn ='Y'
	</select>
	
	<!-- 메이크업디자이너 리스트 -->
	<select id="makeupList" resultType="com.one.style.dessearch.vo.DessearchVO">
	select d.id, d.name, d.major, nvl2(r.rate,r.rate,0)as rate
	from DESIGNER d
	left join (
      select des_id ,  TRUNC(AVG(RATE),1) AS RATE
      from review
      where des_id in (
                       select id
                       from DESIGNER d
                       where makeup_yn = 'Y'
                       )
      group by des_id) r
      on d.id = r.des_id
	where makeup_yn ='Y'
	</select>
	
	<!-- 디자이너 한명 상세정보 -->
	<select id="dessearchSelect" parameterType="String" resultType="com.one.style.dessearch.vo.DessearchVO">
	select d.id, d.name, d.major,d.career, d.major_gender, d.img_group_no, nvl2(r.rate,r.rate,0)as rate
	from DESIGNER d
	left join (
      select des_id ,  TRUNC(AVG(RATE),1) AS RATE
      from review
      where des_id in (
                       select id
                       from DESIGNER d
                       )
      group by des_id) r
      on d.id = r.des_id
	where d.id= #{id}
	</select>
	
	<!-- 디자이너 상세정보 리뷰 -->
	<select id="dessearchSelectReview" parameterType="com.one.style.dessearch.vo.DessearchVO" resultType="com.one.style.dessearch.vo.DessearchVO">
	select r.title, r.rate, m.name as mName
	from review r 
	join member m
	on m.id = r.mem_id
	where des_id= #{id}
	</select>
	
	<!-- 디자이너 상담 목록 리스트 -->
	<select id="courseList" parameterType="String" resultType="com.one.style.dessearch.vo.DessearchVO">
	select d.id, d.name, d.major, nvl2(r.rate,r.rate,0)as rate, c.detail,c.price, c.title,c.cour_no
	from DESIGNER d
	left join (
      select des_id ,  TRUNC(AVG(RATE),1) AS RATE
      from review
      where des_id in (
                       select id
                       from DESIGNER d
                       )
      group by des_id) r
      on d.id = r.des_id
  	join(select id,price,detail,title,cour_no from des_course c) c
 	on c.id = d.id
  	where d.id= #{id}    
	</select>
	
	<!-- 검색 -->
	<select id="searchList" parameterType="String" resultType="com.one.style.dessearch.vo.DessearchVO">
	 select d.id , d.name , d.major , nvl2(r.rate,r.rate,0)as rate from designer d
 	left join
          (
           select des_id ,  TRUNC(AVG(RATE),1) AS RATE
           from review
           where des_id in (
                            select id
                            from DESIGNER d
                            )
           group by des_id)r
 	on d.id = r.des_id
 	where id in (
              select id from des_course 
              where title like'%'||#{search}||'%' or detail like'%'||#{search}||'%'
              )
 	or major like'%'||#{search}||'%' or name like'%'||#{search}||'%'
	</select>
	
</mapper>