<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.one.style.dessearch.mapper.DessearchMapper">
	
	<!-- 전체디자이너 리스트 -->
	<select id="dessearchList" resultType="com.one.style.dessearch.vo.DessearchVO">
	select d.id, d.name, d.major, d.state,nvl2(r.rate,r.rate,0)as rate, nvl2(f.file_uuid,f.file_uuid,'0.png')fileUuid, nvl2(f.file_state,f.file_state,0)fileState
	from DESIGNER d
	left join (
      select des_id ,  TRUNC(AVG(RATE),1) AS RATE
      from review
      group by des_id) r
      on d.id = r.des_id
  	left join  (
                    select file_state, file_uuid, des_id
                    from files 
                    where file_state='pro'
                    )f
  	on d.id = f.des_id
    where d.state = 'dcode003'
	</select>
	
	<!-- 컷디자이너 리스트 -->
	<select id="cutList" resultType="com.one.style.dessearch.vo.DessearchVO">
	select d.id, d.name, d.major, nvl2(r.rate,r.rate,0)as rate, nvl2(f.file_uuid,f.file_uuid,'0.png')fileUuid, nvl2(f.file_state,f.file_state,0)fileState
	from DESIGNER d
	left join (
      select des_id ,  TRUNC(AVG(RATE),1) AS RATE
      from review
      where des_id in (
                       select id
                       from DESIGNER d
                       where cut_yn = 'Y'
                       )
      group by des_id) r
      on d.id = r.des_id
  	left join  (
                    select file_state, file_uuid, des_id
                    from files 
                    where file_state='pro'
                    )f
  	on d.id = f.des_id
	where cut_yn ='Y'  and  state = 'dcode003'
	</select>
	
	<!-- 펌디자이너 리스트 -->
	<select id="permList" resultType="com.one.style.dessearch.vo.DessearchVO">
	select d.id, d.name, d.major, nvl2(r.rate,r.rate,0)as rate, nvl2(f.file_uuid,f.file_uuid,'0.png')fileUuid, nvl2(f.file_state,f.file_state,0)fileState
	from DESIGNER d
	left join (
      select des_id ,  TRUNC(AVG(RATE),1) AS RATE
      from review
      where des_id in (
                       select id
                       from DESIGNER d
                       where perm_yn = 'Y'
                       )
      group by des_id) r
      on d.id = r.des_id
  	left join  (
                    select file_state, file_uuid, des_id
                    from files 
                    where file_state='pro'
                    )f
  	on d.id = f.des_id
	where perm_yn ='Y' and  state = 'dcode003'
	</select>
	
	<!-- 염색디자이너 리스트 -->
	<select id="dyeList" resultType="com.one.style.dessearch.vo.DessearchVO">
	 select d.id, d.name, d.major, nvl2(r.rate,r.rate,0)as rate, nvl2(f.file_uuid,f.file_uuid,'0.png')fileUuid, nvl2(f.file_state,f.file_state,0)fileState
	from DESIGNER d
	left join (
      select des_id ,  TRUNC(AVG(RATE),1) AS RATE
      from review
      where des_id in (
                       select id
                       from DESIGNER d
                       where dye_yn = 'Y'
                       )
      group by des_id) r
      on d.id = r.des_id
  	left join  (
                    select file_state, file_uuid, des_id
                    from files 
                    where file_state='pro'
                    )f
  	on d.id = f.des_id
	where dye_yn ='Y' and state = 'dcode003'
	</select>
	
	<!-- 메이크업디자이너 리스트 -->
	<select id="makeupList" resultType="com.one.style.dessearch.vo.DessearchVO">
	select d.id, d.name, d.major, nvl2(r.rate,r.rate,0)as rate, nvl2(f.file_uuid,f.file_uuid,'0.png')fileUuid, nvl2(f.file_state,f.file_state,0)fileState
	from DESIGNER d
	left join (
      select des_id ,  TRUNC(AVG(RATE),1) AS RATE
      from review
      where des_id in (
                       select id
                       from DESIGNER d
                       where makeup_yn = 'Y'
                       )
      group by des_id) r
      on d.id = r.des_id
  	left join  (
                    select file_state, file_uuid, des_id
                    from files 
                    where file_state='pro'
                    )f
  	on d.id = f.des_id
	where makeup_yn ='Y' and state = 'dcode003'
	</select>
	
	<!-- 디자이너 한명 상세정보 -->
	<select id="dessearchSelect" parameterType="com.one.style.dessearch.vo.DessearchVO" resultType="com.one.style.dessearch.vo.DessearchVO">
	select d.id, d.name, d.major,d.career, d.major_gender, nvl2(r.rate,r.rate,0)as rate
	from DESIGNER d
	left join (
      select des_id ,  TRUNC(AVG(RATE),1) AS RATE
      from review
      where des_id in (
                       select id
                       from DESIGNER d
                       )
      group by des_id) r
      on d.id = r.des_id
	where d.id= #{id}
	</select>
	
	<!-- 디자이너 상세정보 리뷰 -->
	<select id="dessearchSelectReview" parameterType="com.one.style.dessearch.vo.DessearchVO" resultType="com.one.style.dessearch.vo.DessearchVO">
	select r.title, r.rate,r.des_id, m.name as mName
	from review r 
	join member m
	on m.id = r.mem_id
	where des_id= #{id}
	</select>
	
	<!-- 디자이너 프로필 사진 -->
	<select id="desProImg" parameterType="com.one.style.dessearch.vo.DessearchVO" resultType="com.one.style.dessearch.vo.DessearchVO">
	select d.id,nvl2(f.file_state,f.file_state,0)as file_state, nvl2(f.file_uuid,f.file_uuid,'0.png')as file_uuid
	from designer d 
  	left join files f
	on d.id = f.des_id 
	where d.id = #{id}
	</select>
	
	<!-- 디자이너 상담 목록 리스트 -->
	<select id="courseList" parameterType="String" resultType="com.one.style.dessearch.vo.DessearchVO">
	select dc.* , d.name , nvl2(file_uuid , file_uuid , 'logo.jpg')as file_uuid
	from des_course dc
	left join (
           select file_uuid , cour_no , file_state
           from files
           where file_state = 'thum'
           ) f
	on dc.cour_no = f.cour_no
	join DESIGNER d
	on dc.id = d.id
	where dc.id = #{id}  
	</select>
	
	<!-- 검색 -->
	<select id="searchList" parameterType="String" resultType="com.one.style.dessearch.vo.DessearchVO">
	select d.id , d.name , d.major , nvl2(r.rate,r.rate,0)as rate, nvl2(f.file_uuid,f.file_uuid,'0.png')as file_uuid
	from designer d
 	left join
          (
           select des_id ,  TRUNC(AVG(RATE),1) AS RATE
           from review
           where des_id in (
                            select id
                            from DESIGNER d
                            )
           group by des_id)r
 	on d.id = r.des_id
  	left join (select file_uuid, file_name,des_id
                from files
                where file_state='pro')f 
  	on d.id = f.des_id
 	where id in (
              select id from des_course 
              where title like'%'||#{search}||'%' or detail like'%'||#{search}||'%'
              )
 	or major like'%'||#{search}||'%' or name like'%'||#{search}||'%'
	</select>
	
	<!-- 디자이너 선택 - 썸네일-->
	<select id="dessearchDesThum" parameterType="com.one.style.dessearch.vo.DessearchVO" resultType="com.one.style.dessearch.vo.DessearchVO">
		SELECT FILE_UUID, FILE_NAME, COUR_NO
		FROM FILES 
		WHERE  FILE_STATE= 'thum'
		AND des_ID= #{id}
	</select>
		<!-- 디자이너 선택 - 스타일링-->
	<select id="dessearchDesSty" parameterType="com.one.style.dessearch.vo.DessearchVO" resultType="com.one.style.dessearch.vo.DessearchVO">
		SELECT FILE_UUID, FILE_NAME, COUR_NO, FILE_STATE
		FROM FILES 
		WHERE  FILE_STATE= 'sty'
		AND des_ID= #{id}
	</select>
</mapper>